:root {
    --brigth-color: #d14a5a;
    --accent-color: #8f1e2c;
    --bg-clear-color: #3a0f14;
    --bg-color: #1f0b0e;
}

@font-face {
    font-family: "Zen Old Mincho";
    src: url('/public/fonts/Zen_Old_Mincho/ZenOldMincho-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: var(--bg-color);
}

h1 {
    font-family: "Zen Old Mincho";
    color: var(--brigth-color);
    text-shadow: 0 0 2px var(--accent-color);
}

.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: -3;
    
}

p, h2, a {
    color: var(--brigth-color);
    font-family: "Zen Old Mincho";
    font-size: 18px;
    line-height: 1;
}

button {
    font-family: "Zen Old Mincho";
    font-size: 18px;
    background-color: var(--bg-clear-color);
    color: var(--brigth-color);
    border: 2px solid var(--brigth-color);
}

button:hover {
    background-color: var(--bg-color);
}

select {
    font-family: "Zen Old Mincho";
    font-size: 18px;
    background-color: var(--bg-clear-color);
    color: var(--brigth-color);
    border: 2px solid var(--brigth-color);
}


.divisor {
    width: 85%;
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        var(--brigth-color),
        transparent
    );
}

.sub-divisor {
    width: 85%;
    height: 1px;
    background: linear-gradient(
        to right,
        var(--brigth-color),
        transparent
    );
}

.bg-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.bg-dim {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #26080c9b;
    z-index: 1;
}

ruby {
    ruby-position:over;
}

rt {
    letter-spacing: 0.05em;
    font-size: 12.5px;
}


.profile-image {
    border: 2px solid var(--brigth-color);
}